<div class="my-scrolling-content">
  <md-card *ngIf="student" class="demo-card demo-basic margin-card">
    <md-card-subtitle>
      <span style="margin-left: 10px;">Details voor</span>
    </md-card-subtitle>
    <md-card-title>
      {{student.name}} {{student.lastname}}
    </md-card-title>

     <md-card-content>
      <form>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input-container style="width: 100%;">
              <input md-input
                     name="name"
                     placeholder="Naam"
                     style="width: 100%"
                     [(ngModel)]="student.name"
                     [disabled]="!editable"/>
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 100%;">
              <input md-input
                     name="lastname"
                     placeholder="Achternaam"
                     style="width: 100%"
                     [(ngModel)]="student.lastname"
                     [disabled]="!editable"/>
            </md-input-container>
          </td>
        </tr>
      </table>
        <md-input-container style="width: 100%;">
          <input md-input
                 name="streetname"
                 class="demo-full-width"
                 placeholder="Adres"
                 [(ngModel)]="student.streetname"
                 [disabled]="!editable"/>
        </md-input-container>
      <table style="width: 100%" cellspacing="0">
        <tr>
        <td>
          <md-input-container style="width: 100%;">
            <input md-input
                   name="postalcode"
                   class="demo-full-width"
                   maxlength="6"
                   placeholder="Postcode"
                   [(ngModel)]="student.postalcode"
                   [disabled]="!editable"/>
            <md-hint align="end">{{student.postalcode.length}} / 6</md-hint>
          </md-input-container>
        </td>
        <td>
          <md-input-container style="width: 100%;">
            <input md-input
                   name="city"
                   class="demo-full-width"
                   placeholder="Woonplaats"
                   [(ngModel)]="student.city"
                   [disabled]="!editable"/>
          </md-input-container>
        </td>
        </tr>
        <tr>
          <td>
            <md-input-container style="width: 100%;">
              <input md-input
                     name="phone"
                     class="demo-full-width"
                     placeholder="Telefoon"
                     [(ngModel)]="student.phone"
                     [disabled]="!editable"/>
            </md-input-container>
          </td>
          <td>
            <md-input-container style="width: 100%;">
              <input md-input
                     name="email"
                     class="demo-full-width"
                     placeholder="Email"
                     [(ngModel)]="student.email"
                     [disabled]="!editable"/>
            </md-input-container>
          </td>
        </tr>
      </table>
      </form>
    </md-card-content>
    <md-card-actions align="end" style="display: inline-block;">
      <button md-button
              *ngIf="!editable"
              (click)="toggleEditable(!editable)">Bewerken</button>
      <button md-button
              *ngIf="editable"
              (click)="emitUpdateStudent()">Opslaan</button>
      <button md-button
              *ngIf="editable && !newStudent"
              (click)="emitRemoveStudent()">Verwijderen</button>
    </md-card-actions>
  </md-card>
</div>

