<div>
  <ul>
    <li class="items"
        *ngFor="let student of firebaseStudents | async"
        (click)="onSelect(student.$key)">
      <span class="badge">{{student.name}} {{student.lastname}}</span>
    </li>
  </ul>
</div>
<div>
  <student-detail-component
    class="student-detail"
    *ngIf="firebaseStudent"
    [key]="key"
    [student]="student"
    (newStudentEmitter)="newStudent()"
    (saveStudentEmitter)="saveStudent($event)"
    (removeStudentEmitter)="removeStudent($event)">
  </student-detail-component>
</div>
