<!--<ul>-->

  <!--<li class="items">-->
    <!--<span class="badge">create new</span> <input #newItem type="text" (keyup.enter)="createItem(newItem.value)"/>-->
  <!--</li>-->

  <!--<li class="items"-->
      <!--*ngFor="let item of items | async"-->
      <!--(click)="onSelect(item)">-->
    <!--<span class="badge">{{item.$key}}</span> {{item.name}}-->
  <!--</li>-->

<!--</ul>-->

<!--<span *ngIf="selectedItem | async">{{(selectedItem | async)?.$key}}</span>-->

<!--<div>-->
  <!--<label>edit</label>-->
  <!--<input #newValue type="text" [value]="(selectedItem | async)?.name" (keyup)="updateItem(newValue.value)"/>-->
  <!--<button (click)="removeItem()">remove</button>-->
<!--</div>-->

<student-master-component></student-master-component>
